@import url(index.css);

:root {
    --navbar-bg: #127b96;
    --navbar-color: #fff;
    --navbar-active-bg: #bbbbbbdc;
    --navbar-active-color: #000000;
    --navbar-hover-bg: #0a4c83;
    --header-bg:#94a3a8;
    --cinza-escuro: #17273b;
    --vermelho:#f71616e8;
    --amarelo: rgb(255, 239, 19);
    --verde-musgo: rgba(8, 92, 8, 0.658);
}
