@import url(index.css);

:root {
    --navbar-bg: #127b96;
    --navbar-color: #fff;
    --navbar-active-bg: #bbbbbbdc;
    --navbar-active-color: #000000;
    --navbar-hover-bg: #0a4c83;
    --header-bg:#94a3a8;
    --cinza-escuro: #17273b;
    --vermelho:#f71616e8;
    --amarelo: rgb(255, 239, 19);
    --verde-musgo: rgba(8, 92, 8, 0.658);
}

#produto {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.produto{
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
}


.produto > main{
    display: flex;
    margin-top: 15px;
}


.produto > main > aside{
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.produto > main> aside> img{
    max-width: 80px;
    border: 5px;
    border: 1px solid #1948ca;
}

.produto > main> img.active{
    border: 2px solid var(--cinza-escuro);
}

hgroup > h1{
    margin-bottom:5px;
}

hgroup > h5{
    font-size: 300;
    color: var(--navbar-hover-bg);
    font-size: 1em;
}

#produto > aside{
    display: flex;
    flex-direction: column;
}

#produto > aside> .interacao{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#produto > aside> .interacao> a {
    border: 1px solid #17273b;
    color:rgb(226, 15, 15);

}

.preco{
    display: flex;
    flex-direction: column;

}

.preco > span{
    font-size: 2em;
    color:#115388;
}

.preco> .discount-price{
    color:rgb(23, 110, 96);
    text-decoration: line-through;
    font-size: 1em;
}

.product-actions{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right:10px ;
}

.product-actions > .product-button{
    background-color: var(red);
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 10px;
}

.product-actions> .product-button:hover{
    filter: brightness(80%);
}