
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%22;%3C/u%3E%3C/a%3E");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
    
    --navbar-bg: #127b96;
    --navbar-color: #fff;
    --navbar-active-bg: #bbbbbbdc;
    --navbar-active-color: #000000;
    --navbar-hover-bg: #0a4c83;
    --header-bg:#94a3a8;
    --cinza-escuro: #17273b;
    --vermelho:#f71616e8;
    --amarelo: rgb(255, 239, 19);
    --verde-musgo: rgba(8, 92, 8, 0.658);
    --verde-escuro: #015229c4;
    --cinza-claro:#b3b1b1;
    --cinza-escuro:#636363;
    --verde-claro:#007763;
    --verde-agua:#08acb8;
    --login-gradient-point1: #8d8d8d;
    --login-gradient-point2: #e2f3e2;
  }

  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
   font-family: Roboto,sans-serif;
   font-size: 14px;
}